 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1239px;
}

.u-section-1 .u-group-1 {
  min-height: 1239px;
  height: auto;
  width: 992px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0 0;
}

.u-section-1 .u-map-1 {
  height: 245px;
  width: 800px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 24px 292px 0 439px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 170px auto 0 120px;
}

.u-section-1 .u-image-1 {
  object-position: 45.67% 50%;
  width: 311px;
  height: 311px;
  margin: -379px auto 0 204px;
}

.u-section-1 .u-shape-2 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -347px auto 0 89px;
}

.u-section-1 .u-form-1 {
  height: 477px;
  margin: -207px 137px 0 595px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 40%;
  padding: 13px 0 14px;
}

.u-section-1 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: -458px 265px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 587px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 253px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 5px;
  height: 234px;
  background-image: none;
  margin: 9px 376px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 5px;
  height: 234px;
  background-image: none;
  margin: -234px auto 0 299px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -198px 255px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -21px auto 0 329px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: -21px 709px 0 25px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -115px 29px 0 686px;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -24px 331px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: -21px 401px 0 329px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -5px 80px 0 686px;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -12px 331px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: 6px 331px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -17px 225px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: 10px 331px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -17px 176px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 50px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 26px;
  padding-right: 26px;
}

.u-section-1 .u-social-icons-1 {
  height: 18px;
  min-height: 16px;
  width: 88px;
  min-width: 82px;
  margin: 15px 17px 0 auto;
}

.u-section-1 .u-icon-6 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-9 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-10 {
  font-size: 0.625rem;
  font-weight: normal;
  margin: -14px auto 0 4px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 267px;
    margin-left: 413px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 111px;
    margin-left: 569px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 682px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 3px;
    margin-left: 660px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 314px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 375px;
    margin-left: 303px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 54px;
    margin-left: 660px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 314px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 314px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 314px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    width: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-map-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 157px;
    margin-left: 303px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 1px;
    margin-left: 459px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 203px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 239px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 462px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 443px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 241px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 265px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 494px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 241px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 241px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-map-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 67px;
    margin-left: 213px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 280px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 179px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 282px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 175px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 314px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 181px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 169px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 181px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-map-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 80px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 112px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 335px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 75px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 114px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 114px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 106px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 111px;
  }
}